/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  padding: 0;
  box-sizing: border-box;
}

// 共通項目
body{
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  a:link{color: #333333;}
  a:visited{color: #666666;}
  a:hover{color: #ffffff; background-color:#000000;}
}

p{
  margin: 33px;
}

// フラッシュメッセージ
.notice{
  color: green;
}

// 投稿フォーム
.text-form{
  margin-bottom: 10px;
}

.title-box{
  padding: 1px 2px;
}

.body-box{
  padding: 2px;
}

.button-box{
  padding: 1px 6px;
}

// エラーメッセージ
.error{
  width: 450px;
  background-color: #f0f0f0;
  border: 2px solid red;
  padding: 7px 7px 0 7px;
  margin-bottom: 20px;
}

.error>h2{
  background-color: #c00;
  margin: -7px -7px 0 -7px;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.error>ul{
  margin: 33px;
  padding-left: 40px;
    line-height: 18px;
}